.addButton {
  padding: .4rem;
  background-color: #4EA8DE;
  border: none;
  border-radius: 5px;
  color: white;
  box-shadow: 0 0 15px 15px rgba(1, 117, 252, 0.2) !important; /* Sombra exterior con difuminado */
  /*animation: brillo 5s infinite alternate; /* Aplica la animación "brillo" */
}

@keyframes brillo {
  0% {
      background-color: #4EA8DE; /* Color inicial */
      box-shadow: 0 0 15px 15px rgba(1, 117, 252, 0.2); /* Sombra inicial */
  }
  50% {
      background-color: #9ad1f0; /* Cambio a un color más claro */
      box-shadow: 0 0 30px 30px rgba(1, 117, 252, 0.6); /* Sombra más brillante */
  }
  100% {
      background-color: #4EA8DE; /* Vuelve al color original */
      box-shadow: 0 0 15px 15px rgba(1, 117, 252, 0.2); /* Sombra inicial */
  }
}