.table-dark {
  background-color: #2c2c2c;
  color: #c8c8c8;
  width: 100%;
}

.headerTable th {
  background-color: #3c3c3c;
  color: #c8c8c8;
}

.table-bordered {
  border: 1px solid #444;
}

.table-bordered th, .table-bordered td {
  border: 1px solid #444;
}

.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-center {
  text-align: center;
  font-size: 9px !important;
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.mt-4 {
  margin-top: 1.5rem;
}

.solicitudActualTabla {
  background-color: #3c3c3c;
}

.inputresultado {
  background-color: #2c2c2c;
  color: #c8c8c8;
  border: 1px solid #444;
}

.inputresultado.bg-danger {
  background-color: #b52e2e;
}

.inputresultado.bg-success {
  background-color: #2eb552;
}

.btn-success {
  background-color: #2eb552;
  border: none;
  color: #fff;
}

.btn-success:hover {
  background-color: #249a43;
}